<p><strong>Followers</strong></p>

<span style="font-size: smaller;">Updated on: <%= Time.now.to_s %></span>

<ul>
<%
   @twitter_followers.each do |follower|
%>
    <li><%= follower.name %> </li>
<%
   end
%>
</ul>